:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}
/* Restablecer algunos estilos predeterminados del navegador */
html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 16px */
    font-family: 'Krub', sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem; /* 1200px */
    margin: 0 auto; /* Centrar */
    padding: 0 2rem; /* Margen interno */
}

.nav-bg {
    background-color: var(--secundario);
}

.barraDeNavegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barraDeNavegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

/* Eventos de Seudoclases */
.barraDeNavegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Resonsive web desing */
